$-ELEMENTS: (
  button: (
    'button',
    'input[type="reset"]',
    'input[type="button"]',
    'input[type="submit"]'
  )
) !global;

@function elements($element) {
  $elements: map-get($-ELEMENTS, $element);

  @if ($elements == null) {
    @include throw('element \'#{$element}\' is invalid', error);
  }

  @return $elements;
}
