%-fixed-centralize {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

%-block-centralize-x {
  margin: { right: auto; left: auto; }
}


@mixin centralize($type) {
  @if ($type == fixed or $type == absolute) {
    @extend %-fixed-centralize;
    position: $type;
  } @else if(block-x) {
    @extend %-block-centralize-x;
  } @else {
    @include throw('invalid centralize type \'#{$type}\'', error);
  }
}
