%-slide-down-transition {
  @include clearfix;
  overflow: hidden;
  max-height: 0;
  transition: .8s ease-out;

  &.active {
    transition: .8s ease-in;
  }
}

@mixin slide-down($options: (open: ( max-height: 100vh ))) {
  @extend %-slide-down-transition;

  @if (map-has-key($options, close)) {
    @include render(map-get($options, close));
  }

  @if (map-has-key($options, open)) {
    &.active {
      @include render(map-get($options, open));
    }
  }
}
