/**
 * Configuration
 * Set theme and component's style.
 */

/**
 * Base config
 */

// Typography
em-scale = 62.5%
base-font-size = 1.6em
base-font-family = 'Akrobat', sans-serif

/**
 * Components
 */

// ViewHeader
view-header = {
  height: 80px
}
