@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

spin-animation($duration = 1s, $iteration = infinite) {
  animation-name: spin-animation;
  animation-timing-function: linear;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
}
