extends base

block style
  link(rel="stylesheet" href=UrlStyle)
  block style

block script
  if UrlVendors
    script(url=UrlVendors)
  block script

block content
  include ../partial/header
  block content
  include ../partial/footer
