/* Componentes - style

 * Folha de estilos dos componentes da aplicação
 * Responsivo, customizável e modular */

// Base
$em-base-count: 62.5% !default;
$base-font: (
  font-size: 1.6em,
  font-family: sans-serif
) !default;

// Loader
$loader-size: 50px                !default;
$loader-color: rgb(167, 154, 192) !default;
$loader-time: .75s                !default;
$loader-line-width: .45em                   !default;
$loader-line-style: solid                   !default;
$loader-line-color: rgba($loader-color, .5) !default;

@import 'core/all';
@import 'base/all';
@import 'helpers/all';
@import 'components/all';
