@charset "UTF-8";
/* Componentes - style

 * Folha de estilos dos componentes da aplicação
 * Responsivo, customizável e modular */
/* line 1, d:/Projetos/Boilerplate/Styles/base/_initialize.scss */
html {
  height: 100%;
  font-size: 62.5%;
}

/* line 6, d:/Projetos/Boilerplate/Styles/base/_initialize.scss */
body {
  height: 100%;
  margin: 0;
  font-size: 1.6em;
  font-family: sans-serif;
}

/* line 12, d:/Projetos/Boilerplate/Styles/base/_initialize.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 16, d:/Projetos/Boilerplate/Styles/base/_initialize.scss */
img {
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* line 21, d:/Projetos/Boilerplate/Styles/base/_initialize.scss */
figure {
  margin: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* line 1, d:/Projetos/Boilerplate/Styles/helpers/_centralize.scss */
.modal > .content {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

/* line 7, d:/Projetos/Boilerplate/Styles/helpers/_centralize.scss */
.modal.modal-loader > .content .loader {
  margin-right: auto;
  margin-left: auto;
}

/* line 1, d:/Projetos/Boilerplate/Styles/helpers/_full-size.scss */
.modal > .shadow {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 1, d:/Projetos/Boilerplate/Styles/components/_loader.scss */
.loader {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: spin 0.75s infinite linear;
     -moz-animation: spin 0.75s infinite linear;
       -o-animation: spin 0.75s infinite linear;
          animation: spin 0.75s infinite linear;
  border-width: 0.45em;
  border-style: solid;
  border-color: rgba(167, 154, 192, 0.5);
  border-top-color: #a79ac0;
  background-color: transparent;
}

/* line 5, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal {
  position: relative;
  display: none;
  z-index: 1;
}

/* line 10, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal.active {
  display: block;
}

/* line 12, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal > .content {
  position: fixed;
  z-index: 1;
}

/* line 16, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal > .content.clear-content {
  background-color: transparent;
  color: white;
}

/* line 22, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal.modal-loader > .content {
  text-align: center;
}

/* line 27, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal.modal-loader > .content .text {
  margin-top: 10px;
}

/* line 30, d:/Projetos/Boilerplate/Styles/components/_modal.scss */
.modal > .shadow {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
